<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../abas-icon/abas-icon.html">
<link rel="import" href="../paper-behaviors/paper-inky-focus-behavior.html">
<link rel="import" href="../paper-styles/default-theme.html">

<!--
Material design: [Icon toggles](https://www.google.com/design/spec/components/buttons.html#buttons-toggle-buttons)
`abas-icon-button` is a button with an image placed at the center. When the user touches
the button, a ripple effect emanates from the center of the button.

Example to use `abas-icon-button` with default abas icon color:
    <abas-icon-button icon="abas:ball_green"></abas-icon-button>

To use `abas-icon-button` as a link, wrap it in an anchor tag. Since `abas-icon-button`
will already receive focus, you may want to prevent the anchor tag from receiving focus
as well by setting its tabindex to -1.
    <a href="https://abas-erp.com" tabindex="-1">
      <abas-icon-button icon="abas:ball_green"></abas-icon-button>
    </a>

### Styling
Style the button with CSS as you would a normal DOM element. If you are using the icons
provided by `abas-icons`, they will inherit the foreground color of the button.
    /* make a red "abas:ball_green" button */
    <abas-icon-button icon="abas:ball_green" style="color: red;"></abas-icon-button>

By default, the ripple is the same color as the foreground at 25% opacity. You may
customize the color using the `--abas-icon-button-ink-color` custom property.

The following custom properties and mixins are available for styling:
Custom property | Description | Default
----------------|-------------|----------
`--abas-icon-button-disabled-text` | The color of the disabled button | `--disabled-text-color`
`--abas-icon-button-ink-color` | Selected/focus ripple color | `--primary-text-color`
`--abas-icon-button` | Mixin for a button | `{}`
`--abas-icon-button-disabled` | Mixin for a disabled button | `{}`
`--abas-icon-button-hover` | Mixin for button on hover | `{}`

@group abas Elements
@element abas-icon-button
@demo demo/index.html
-->

<dom-module id="abas-icon-button">
    <template strip-whitespace>
        <style>
            :host {
                display: inline-block;
                position: relative;
                padding: 8px;
                outline: none;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                cursor: pointer;
                z-index: 0;
                line-height: 1;
                width: 40px;
                height: 40px;
                /* NOTE: Both values are needed, since some phones require the value to be `transparent`. */
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                -webkit-tap-highlight-color: transparent;
                /* Because of polymer/2558, this style has lower specificity than * */
                box-sizing: border-box !important;
                @apply --abas-icon-button;
            }

            :host #ink {
                color: var(--abas-icon-button-ink-color, var(--primary-text-color));
                opacity: 0.6;
            }

            :host([disabled]) {
                color: var(--abas-icon-button-disabled-text, var(--disabled-text-color));
                pointer-events: none;
                cursor: auto;
                @apply --abas-icon-button-disabled;
            }

            :host([hidden]) {
                display: none !important;
            }

            :host(:hover) {
                @apply --abas-icon-button-hover;
            }

            :host abas-icon {
                --abas-icon-fill-color: currentColor;
                --abas-icon-width: 100%;
                --abas-icon-height: 100%;
            }
        </style>

        <abas-icon id="icon" icon="[[icon]]" alt$="[[alt]]" nodefaultcolor$="[[nodefaultcolor]]"></abas-icon>
    </template>

    <script>
        Polymer({
            is: 'abas-icon-button',
            hostAttributes: {
                role: 'button',
                tabindex: '0'
            },
            behaviors: [
                Polymer.PaperInkyFocusBehavior
            ],
            properties: {
                /**
                 * The URL of an image for the icon. If the src property is specified,
                 * the icon property should not be.
                 */
                src: {
                    type: String
                },
                /**
                 * Specifies the icon name or index in the set of icons available in
                 * the icon's icon set. If the icon property is specified,
                 * the src property should not be.
                 */
                icon: {
                    type: String
                },
                /**
                 * Specifies the alternate text for the button, for accessibility.
                 */
                alt: {
                    type: String,
                    observer: "_altChanged"
                },
                nodefaultcolor: {
                    type: Boolean,
                    value: false,
                    reflectToAttribute: true
                }
            },

            _altChanged: function (newValue, oldValue) {
                var label = this.getAttribute('aria-label');
                // Don't stomp over a user-set aria-label.
                if (!label || oldValue == label) {
                    this.setAttribute('aria-label', newValue);
                }
            }
        });
    </script>
</dom-module>
